.App {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: #388e3c;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.navbar a {
  color: white;
  text-decoration: none;
}
